
@{
    ViewBag.Title = "addsosial";
    Layout = "~/Shared/layoutadmin.cshtml";
}
<br />
<h2>Sosial şəbəkə əlavə et</h2>
<form method="post">

<input class="form-control mt-3" placeholder="Medianin adi" name="sosialad"/><br />
<input class="form-control" placeholder="Medianin linki" name="sosiallink"/><br />

<button class="btn btn-success">Təsdiq</button>
</form>