@using newswar.Models
@model List<meqbanner>
@{
    ViewBag.Title = "Index";
    Layout = "~/Shared/layoutadmin.cshtml";
}



<h2>Index</h2>

<table class="table table-striped">
    <tr>
        <th>Banner photo</th>
        <th>Banner ad</th>
        <th>Banner ad reng</th>
        <th>Banner status</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td><img src="@item.sekil" style="width:30%" /> </td>
            <td style="color:@item.banneradreng;font-weight:bold">@item.bannerad</td>
            <td>@item.banneradreng</td>
            <td>@item.available</td>
            <td><a href="~/meqbanner/delbanner/@item.bannerid" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
            <td><a href="~/meqbanner/updbanner/@item.bannerid" class="btn btn-primary"><i class="fas fa-fan"></i></a></td>
        </tr>
    }
</table>
<a href="~/meqbanner/addbanner" class="btn btn-primary ">Banner əlavə et</a>